/* app css stylesheet */

html {
  height: 100%;
}

body {
  min-height: 100%;
  /*background-color: #d4d7d3;*/
  background-image: url(../img/backGround.jpg);
  background-size: cover;
  background-attachment: fixed;
}

.view{
  margin-top: 65px;
}

.active{
  /*border-bottom: 2px solid red;*/
}

.navbar-brand{
  padding: 0px 15px;

}

.navbar-default{
  background-image: url(../img/navBG.jpg) !important;
  background-repeat: no-repeat;
}

.navbar{
  padding: 0px 5%;
}

a {
  margin-bottom: 0px !important;
}

strong{
  opacity: 1.0 !important;
}

.listImg{
  height: 200px !important;
}

.listTitle{
  position: absolute;
  top: 160px;
  width: 100%;
  height: 20%;
  color: #cccccc;
  text-align: center;
  padding-right: 4px;
}

.listTitleBG{
  position: absolute;
  top: 160px;  
  width: 100%;
  height: 24%;
  padding: 4px;
  background-color: #1b1b1b;
  opacity: 0.6;
}

.img-responsive{
  margin: 0px auto;
}

.singlePostTitle{
  padding: 1px 10px;
  background-color: rgba(255,255,255,0.9);
}

.singlePostImg{
  text-align: center;
  padding: 10px;
}

.singlePostDetail{
  font-size: 15px;
  padding: 20px;
  text-align: justify;
  background-color: rgba(255,255,255,0.95);
}

.logos {
  vertical-align:middle;
}

.tBlock{
  position: absolute; 
  top: 70px; 
  left: 20px; 
  width: 100%; 
}

.box {
  padding: 0px 0px;
  vertical-align: middle !important;
}

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

.thumbnail{
  background-color: rgba(255, 255, 255, 0.8);
}

.siteLinks{
  height: 200px;
}

.holderBackGround{
  height: 200px;
  background-color:#269;
  background-image: linear-gradient(white 2px, transparent 2px),
  linear-gradient(90deg, white 2px, transparent 2px),
  linear-gradient(rgba(255,255,255,.3) 1px, transparent 1px),
  linear-gradient(90deg, rgba(255,255,255,.3) 1px, transparent 1px);
  background-size:100px 100px, 100px 100px, 20px 20px, 20px 20px;
  background-position:-2px -2px, -2px -2px, -1px -1px, -1px -1px
}

.spinner{
  text-align: center;
  height: 100px;
  padding-top: 30%;
  padding-bottom: 30%;
  background: rgba(255,255,255,0.95);
}

#footer {
  min-height: 200px;
  background-image: url(../img/navBG.jpg) !important;
  background-repeat: repeat-y;
  margin-top: 15px;
  padding-left: 20px;
  padding-right: 20px;
  color: #fff;
}

.footerIntro{
  padding: 0px 15px;
}

.footerIntro p{
  padding: 30px 0px;
}

.feedbackDiv{
  background: #515151;
  position: absolute;
  top: 15%;
  padding-left: 10px;
  padding-right: 10px;
  min-width: 250px;
  z-index: 1;
}

.ng-hide.feedbackDiv {
  display:block!important;
  position:absolute;
  left:-250px;
}

.feedbackButtonDiv{
  position: absolute;
  top: 50px;
  left: 100%;
}

.feedbackFormDiv{
  padding-bottom: 20px;
}

.feedbackLoadingDiv{
  position: absolute;
  top: 304px;
  left: 90px;
  width: 32px;
}

.feedbackConfirmDiv{
  max-width: 200px;
}

.feedbackImg{
  width: 30px;
}

.animate-show {
  -webkit-transition:all linear 0.5s;
  transition:all linear 0.5s;
  line-height:20px;
  opacity:1;
  padding:10px;
}
 
.animate-show.ng-hide-add,
.animate-show.ng-hide-remove {
  display:block!important;
}
 
.animate-show.ng-hide {
  line-height:0;
  padding:0 10px;
}
 
.check-element {
  padding:10px;
}


.sideBar{
  background-color: rgba(255,255,255,0.75);
  margin-left: 50px;
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
}

.sideBar a{
  color: 666666 !important;
}

.sideBarListImg{
  height: 100px !important;
  min-width: 100%;
}

.sideBarLogo{
  
}

.sideBarLogoLink{
  
}

.sideBarLogoimg{
  max-width: 100%;
}

.bottomNav{
  padding-top: 15px;
}