<div class='row' ng-hide="spinner">
  <div class='col-md-12 spinner'>
    <img src="img/spinner.gif">
  </div>
</div>
<div class="motherBox" ng-repeat="site in sites">
  <div class="col-md-{{spanSizes}} box grayscale">
  	<a href="#/singleSite/:{{site.json}}/:{{site.id}}" class="thumbnail siteLinks logos">
  		<img class='img-responsive homeSiteLogo' src="img/logos/{{site.logo}}">
  		<!-- <div> {{site.id}} </div>
  		<div> {{site.name}} </div>
  		<div> {{site.json}} </div>
  		<div> {{site.language}} </div>
  		<div> {{site.origin}} </div> -->
    </a>
  </div>
</div>