<div id="footer" class="navbar-inverse" ng-controller="FooterCtrl">
  <div class="container footerIntro">
    <div class="col-md-4 footerLeft">
      <img class='footerLogo' class="img-responsive" src="img/footerCredit.png">
      <!-- <p>Built with <strong>Love</strong> and <strong>AngularJS</strong>. </p>
      <img src="http://vojtajina.github.io/html5la/2012-05-30-boston/images/AngularShieldLogo.png" height='60'>
      <img src="http://www.mackenziearmstrongcreative.com/images/html5css3.png" height="100"> -->
    </div>
    <div class="col-md-4 footerMiddle">
      <h4>Find us on Facebook</h4>
      <iframe class="FBLike" ng-src="{{likeURL}}"></iframe>
    </div>
    <div class="col-md-4 footerRight row">
      <h4>About Us</h4>
      <div class="col-sm-6 col-md-4" ng-repeat="founder in founders | orderBy:predicate:reverse">
        <div class="thumbnail aboutUs">
          <img src="img/founders/{{founder.img}}" alt="{{founder.nick}}" class="img-circle" width="100" height="100">
          <div class="caption">
            <a href="mailto:{{founder.email}}"><h4>{{founder.nick}}</h4></a>
            <!-- <p>...</p>
            <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p> -->
          </div>
        </div>
      </div>
      <!-- <div class="col-sm-6 col-md-4">
        <div class="thumbnail aboutUs">
          <img src="img/founders/gan.jpg" alt="gan" class="img-circle" width="100" height="100">
          <div class="caption">
            <a href="mailto:gan.mahmud@gmail.com"><h4>GAN</h4></a>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail aboutUs">
          <img src="img/founders/gan.jpg" alt="gan" class="img-circle" width="100" height="100">
          <div class="caption">
            <a href="mailto:gan.mahmud@gmail.com"><h4>GAN</h4></a>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail aboutUs">
          <img src="img/founders/fahad.jpg" alt="soudi" class="img-circle" width="100" height="100">
          <div class="caption">
            <a href="mailto:billah22@gmail.com"><h4>Fahad</h4></a>
          </div>
        </div>
      </div> -->
    </div>
  </div>
</div>