<div id="footer" class="navbar-inverse" ng-controller="FooterCtrl">
  <div class="container footerIntro">
    <div class="col-md-4">
      <!-- <h2>Heading</h2> -->
      <p>Built with Love and AngularJS. </p>
      <!-- <p><a class="btn btn-default" href="#" role="button">View details »</a></p> -->
    </div>
    <div class="col-md-4">
      <!-- <h2>Heading</h2>
      <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
      <p><a class="btn btn-default" href="#" role="button">View details »</a></p> -->
   </div>
    <div class="col-md-4">
      <h2>About Us</h2>
      <ul>
        <li><a href="mailto:murshed.soudi@gmail.com">Monjurul Murshed Soudi</a></li>
        <li><a href="mailto:gan.mahmud@gmail.com">GAN Mahmud</a></li>
        <li><a href="mailto:billah22@gmail.com">Fahad Billah</a></li>
      </ul>
    </div>
  </div>
</div>