<div id="footer" class="navbar-inverse" ng-controller="FooterCtrl">
  <div class="container footerIntro">
    <div class="col-md-4">
      <p>Built with <strong>Love</strong> and <strong>AngularJS</strong>. </p>
    </div>
    <div class="col-md-4">
      
   </div>
    <div class="col-md-4 row">
      <h2>About Us</h2>
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail aboutUs">
          <img src="img/founders/soudi.jpg" alt="soudi" class="img-circle" width="100" height="100">
          <div class="caption">
            <a href="mailto:murshed.soudi@gmail.com"><h4>Soudi</h4></a>
            <!-- <p>...</p>
            <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p> -->
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail aboutUs">
          <img src="img/founders/gan.jpg" alt="gan" class="img-circle" width="100" height="100">
          <div class="caption">
            <a href="mailto:gan.mahmud@gmail.com"><h4>GAN</h4></a>
            <!-- <p>...</p>
            <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p> -->
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail aboutUs">
          <img src="img/founders/fahad.jpg" alt="soudi" class="img-circle" width="100" height="100">
          <div class="caption">
            <a href="mailto:billah22@gmail.com"><h4>Fahad</h4></a>
            <!-- <p>...</p>
            <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>