<div class="row">
	<div class="col-md-8 mainContent">
		<div class='row' ng-hide="spinner">
			<div class='col-md-12 spinner'>
			  <img src="img/spinner.gif">
			</div>
		</div>
		<div class='singlePostTitle'>
			<h3> {{utf8.decode(base64.decode(news.title))}} </h3>
		</div>
		<hr>
		<div class='singlePostImg'>
			<img class='img-responsive' src="{{base64.decode(news.newsImage)}}">
		</div>
		<div class='singlePostDetail row'>
			<!-- <div ng-repeat="detail in details" class="col-md-4">  {{detail}}  </div> -->
			<!-- <p ng-repeat="split in splitBox"> {{utf8.decode(base64.decode(detail))}} </p> -->
			<p > {{utf8.decode(base64.decode(news.detail))}} </p>
		</div>
	</div>
	<div class="col-md-3 sideBar visible-lg visible-md">
		<div class="sideBarLogo">
			<a class="sideBarLogoLink" href="#/singleSite/:{{json}}/:{{siteID}}">
				<img class="sideBarLogoimg" src="img/logos/{{json}}.png">
			</a>
		</div>
		<div ng-repeat="list in allNews | limitTo:noOfSideBarPost">
	    <div class=""></div>
	  	<a href="#/singleSite/:{{json}}/:{{siteID}}/singlePost/:{{list.id-1}}" class="thumbnail">
	      <!-- <img src="{{base64.decode(list.newsImage)}}" height="100px" alt="{{utf8.decode(base64.decode(list.title))}}" class="sideBarListImg"> -->
	      <span class=''><strong>{{utf8.decode(base64.decode(list.title))}}</strong></span>
	    </a>
	  </div>
	</div>
	<div class="col-md-3 visible-xs visible-sm btn-group-vertical bottomNav">
    <a href="#/singleSite/:{{json}}/:{{siteID}}/singlePost/:{{prevPostID}}" type="button" class="btn btn-default btn-lg btn-block">Previous Post</a>
		<a href="#/singleSite/:{{json}}/:{{siteID}}" type="button" class="btn btn-default btn-lg btn-block"> {{json}} </a>
		<a href="#/singleSite/:{{json}}/:{{siteID}}/singlePost/:{{nextPostID}}" type="button" class="btn btn-default btn-lg btn-block">Next Post</a>
		<!-- <div class="col-sm-3">
	    <div class=""></div>
	  	<a href="#/singleSite/:{{json}}/:{{siteID}}/singlePost/:{{prevPostID}}" class="thumbnail">
	      <img src="{{base64.decode(allNews[prevPostID].newsImage)}}" height="50px" alt="{{utf8.decode(base64.decode(allNews[prevPostID].title))}}" class="">
	      <span class='listTitle'><strong>{{utf8.decode(base64.decode(allNews[prevPostID].title))}}</strong></span>
	    </a>
	  </div>
		<div class="col-sm-3">
	    <div class=""></div>
	  	<a href="#/singleSite/:{{json}}/:{{siteID}}/singlePost/:{{nextPostID}}" class="thumbnail">
	      <img src="{{base64.decode(allNews[nextPostID].newsImage)}}" height="50px" alt="{{utf8.decode(base64.decode(allNews[nextPostID].title))}}" class="">
	      <span class='listTitle'><strong>{{utf8.decode(base64.decode(allNews[nextPostID].title))}}</strong></span>
	    </a>
	  </div> -->
	</div>
</div>